<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
</head>

<body>
    <h1>Hello from Alerts Server!</h1>

<ul class="openlist">
    <li>All alerts: <a th:href="@{/alerts}">/alerts</a></li>
    <li>No. of alerts: <a th:href="@{/count}">/count</a></li>
</ul>
</body>
</html>