<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Alert Details</title>

<body>
<h1>Alert Details</h1>

<div th:if="not ${alert}">
    <div class="m-3 alert alert-warning">
        Unable to find alert '<span th:text="${alertId}">alertId</span>'
    </div>
    <div style="height: 2cm">&nbsp;</div>
</div>

<div class="container" th:if="${alert}">
    <dl class="row">
        <dt class="col-1">Alert Id</dt>
        <dd th:text="${alertId}">alertId</dd>
        <dt class="col-1">User Id</dt>
        <dd th:text="${userId}">userId</dd>
        <dt class="col-1">Coin Id</dt>
        <dd th:text="${coinId}">coinId</dd>
        <dt class="col-1">Market Id</dt>
        <dd th:text="${marketId}">marketId</dd>
        <dt class="col-1">Current Amount</dt>
        <dd th:text="${currentAmount}">currentAmount</dd>
        <dt class="col-1">Threshold</dt>
        <dd th:text="${threshold}">threshold</dd>
    </dl>
</div>
</body>
</html>