<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Alertssss</title>

<body>
<h1>Alerts</h1>

<div th:if="not ${alerts}">
    <div class="alert alert-warning m-2">
        No alerts found containing '<span th:text="${search}">text</span>'.
    </div>
    <div style="height: 2cm">&nbsp;</div>
</div>

<div th:if="${alerts}">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Alert ID</th>
            <th>Coin ID</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="alert : ${alerts}">
            <td><a href="alert.html"
                   th:href="@{|/alerts/${alert.alertId}|}"
                   th:text="|${alert.alertId}|">alertId</a></td>
            <td th:text="${alert.coinId}">coinId</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html></title>
</head>

</html>