<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Total no. of alerts: </title>
</head>
<body>
No. of ALERTS:

    <dl class="row">
        <dd th:text="${count}">count</dd>
    </dl>


</body>
</html>