<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<h1>Hello from Web Server!</h1>

<ul class="openlist">
    <li>Eureka Dashboard: <a
            href="http://localhost:1000">http://localhost:1000</a></li>
    <li>List of registered applications: <a
            href="http://localhost:1000/eureka/apps/">http://localhost:1000/eureka/apps/</a></li>
    <li>Alerts: <a th:href="@{/alerts}">/alerts</a></li>
    <li>No. of alerts: <a th:href="@{/count}">/count</a></li>

</ul>
</body>
</html>